@mixin badge-status($label, $textColor, $bgColor) {
  .badge.status-#{$label}  {
    background-color: $bgColor;
    border-color: $textColor;
    color: $textColor;
  }
}

@include badge-status('addedtodraft', $state-draft, $state-draft-bg);
@include badge-status('modified', $state-modified, $state-modified-bg);
@include badge-status('archived', #455b6c, #f1f3f6);
@include badge-status('deletedonlive', #455b6c, #f1f3f6);
@include badge-status('removedfromdraft', #455b6c, #f1f3f6);
