// Labels are capitalised by default
.history-viewer__actions-dropdown .form-check-label {
  text-transform: none;
}

.history-viewer__actions-dropdown {
  .btn[class*=font-icon-]:before {
    margin-right: 0;
  }

  &.show .dropdown-menu {
    min-width: 14rem;
  }

  .form-check {
    margin-top: .5rem;
  }
}

.history-viewer__heading {
  font-size: $font-size-sm;
  text-transform: uppercase;
}
