.history-viewer__compare-notice {
  border-top: none;
  border-radius: 0 0 $border-radius $border-radius;
  padding: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .notice-message {
    padding: .4rem 1rem .4rem 1.5rem;
    vertical-align: middle;
  }

  button {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 0 $border-width;
    border-color: lighten($color-notice, 10%);
    margin-right: 0;
    border-radius: 0 0 $border-radius 0;

    &:hover {
      background-color: lighten($color-notice, 10%);
    }
  }
}
