.history-viewer {
  td:first-child {
    width: 1%;
  }

  > .panel--padded {
    padding-top: 0;
  }
}

// Used in conjunction with .panel--padded, removes top and bottom padding
.panel--padded-side {
  padding-bottom: 0;
  padding-top: 0;
}

.history-viewer__form {
  position: relative;
}

.history-viewer__version-state .badge {
  margin-left: 10px;
}

.history-viewer__table--current {
  // There will only be one table row in this table state
  tbody tr,
  tbody tr:hover {
    background-color: $link-color;
    color: $white;
  }

  .text-muted {
    color: $white !important;
  }
}

// Table cell containing action buttons, e.g. compare and close
.table .history-viewer__actions {
  padding: 0;
  text-align: right;
  width: 1%;
  vertical-align: middle;
  white-space: nowrap;
}

// Bring any CMS tabs in the detail view closer to the table above it
.history-viewer__version-detail {
  .nav-tabs {
    margin-top: -$panel-padding-y;
  }
}

.history-viewer__compare-button {
  border: 1px solid $white;
  color: $white;
  margin-right: 1rem;
}

.history-viewer__close-button {
  background: transparent;
  border: 1px solid $white;
  border-radius: 50%; // circular
  color: $white;
  padding: .4rem .55rem;

  &::before {
    font-size: 1.4rem;
  }
}

.history-viewer__messages .message-box {
  &:first-child {
    margin-top: $panel-padding-y;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Todo: remove this when the CMS is React driven and we don't need this hack
.history-viewer__preview {
  margin-top: -54px;
}

.history-viewer__toolbar--condensed {
  min-width: 50%;
  width: 50%;
}

// Hide preview on small devices. @todo replace this with a view toggle component
@include media-breakpoint-down(md) {
  .history-viewer__preview {
    display: none;
  }
}
