.history-viewer {
  td:first-child {
    width: 1%;
  }

  > .panel--padded {
    padding-top: 0;
  }
}

.history-viewer__table:not(.history-viewer__table--current) tbody tr:hover {
  cursor: pointer;
}

// Used in conjunction with .panel--padded, removes top and bottom padding
.panel--padded-side {
  padding-bottom: 0;
  padding-top: 0;
}

.history-viewer__form {
  position: relative;
}

.history-viewer__version-state .badge {
  margin-left: 10px;
}

.table .history-viewer__row--current {
  // There will only be one table row in this table state
  &, &:hover {
    background-color: $link-color;
    color: $white;
  }

  .text-muted {
    color: $white !important;
  }
}

.history-viewer__table--compare {
  margin-left: 0;
  margin-right: 0;
  min-width: 100%;
}

.history-viewer__version-detail--compare {
  margin-left: $panel-padding-x;
  margin-right: $panel-padding-x;
}

// Table cell containing action buttons, e.g. compare and close
.table .history-viewer__actions {
  padding: 0;
  text-align: right;
  width: 1%;
  vertical-align: middle;
  white-space: nowrap;
}

// Bring any CMS tabs in the detail view closer to the table above it
.history-viewer__version-detail .nav-tabs {
  margin-top: -$panel-padding-y;
}

.history-viewer__compare-button {
  border: 1px solid $white;
  color: $white;
  margin-right: 1rem;
}

.history-viewer__close-button {
  background: transparent;
  border: 1px solid $white;
  border-radius: 50%; // circular
  color: $white;
  padding: .4rem .55rem;

  &::before {
    font-size: 1.4rem;
  }
}

.history-viewer__messages .message-box {
  &:first-child {
    margin-top: $panel-padding-y;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

// Todo: remove this when the CMS is React driven and we don't need this hack
.history-viewer__preview {
  margin-top: -54px;
}

.history-viewer__toolbar--condensed {
  min-width: 50%;
  width: 50%;
}

.history-viewer__compare-notice {
  align-self: center;
  background-color: lighten($color-notice, 13%);
  color: darken($color-notice, 35%);
  border: 1px solid $color-notice;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  &.fixed {
    position: absolute;
  }

  .notice-message {
    padding: .4rem 1rem .4rem 1.5rem;
    vertical-align: middle;
  }

  button {
    background-color: inherit;
    color: inherit;
    border-width: 0 0 0 1px;
    border-color: $color-notice;
    margin-right: 0;
    border-radius: 0 0 5px 0;

    &:hover {
      background-color: lighten($color-notice, 18%);
    }
  }
}

.history-viewer__heading {
  .author-compare-toggle__container {
    display: flex;

    .author-span {
      align-self: flex-end;
    }

    .compare-dropdown {
      margin-left: auto;

      button {
        &::before {
          margin-right: 0;
        }
      }

      &.show {
        .dropdown-menu {
          min-width: 14rem;
        }
      }

      .form-check {
        margin-top: .5rem;
      }
    }

    .form-check-label {
      text-transform: none;
    }
  }
}

.history-viewer__version-detail-diff {
  del {
    color: #f44;
  }

  ins {
    background-color: #dfd;
    text-decoration: none;
  }
}

// Hide preview on small devices. @todo replace this with a view toggle component
@include media-breakpoint-down(md) {
  .history-viewer__preview {
    display: none;
  }
}
