// Variables
@import "variables";

// Thirdparty
@import "~bootstrap/scss/mixins";

// Legacy
@import "legacy/ArchiveAdmin";

// Components
@import "../components/HistoryViewer/HistoryViewer";
@import "../components/HistoryViewer/HistoryViewerCompareWarning";
@import "../components/HistoryViewer/HistoryViewerHeading";
@import "../components/HistoryViewer/HistoryViewerVersion";
@import "../components/HistoryViewer/HistoryViewerVersionList";
